# 1. 파이썬 데이터 다루기
71p

In [1]:
# 결과 출력을 위해 Print함수를 사용하겠습니다
# 기본 연산
print(123+456)
print(100*1004)

579
100400

In [2]:
#정수형 상수의 표현 범위는 제한이 없으며, CPU 레지스터로 표현할 수 있는 크기보다 큰 정수를 다룰 때는 연산 속도가 느려집니다
print(2**64)

18446744073709551616

In [3]:
# 정확히 나누어 떨어지지 않는 경우, 파이썬에서는 소수점 15자리까지 표현합니다
print(5048/123)

41.040650406504064

In [4]:
# 소수점 이하의 수를 모두 버리고 몫만 나타낼 때 '//'연산자를 사용
print(5048//123)

41

In [5]:
# 나머지를 구할 때 % 연산자를 사용
print(33 % 5)

3

72p

In [7]:
#and
print(True and True)
print(True and False)
print(False and True)
print(False and False)
#or
print(True or True)
print(True or False)
print(False or True)
print(False or False)
#not
print(not True)
print(not False)

True
False
False
False
True
True
True
False
False
True

73p

In [8]:
#비교판단
print(5>2)

#숫자비교
print(7==7)
print(7!=5)

#문자비교
print('Python' == 'Python')
print('Python' == 'python')
print('Python' != 'python')

#부등호 비교
print(1>2)
print(1<2)
print(1>=1)
print(1<=1)

#객체비교
print(1==1.0)
print(1 is 1.0)
print(1 is not 1.0)

True
True
True
True
False
True
False
True
True
True
True
False
True

# 2. 변수와 자료형
75p

In [1]:
#변수 만들기(할당)
x = 155
print(x)

y = 'Hello, Python!'
print(y)

#여러 변수 만들기(할당)
x, y, z = 100, 200, 300
print(x)
print(y)
print(z)

#변수 삭제(메모리 할당 해제)
x = 10
del x
print(x)

155
Hello, Python!
100
200
300

NameError: name 'x' is not defined

78p
1) numbers

In [2]:
int_var1 = 1
print(int_var1)

int_var2 = -10
print(int_var2)

float_var1 = 15.20
print(float_var1)

float_var2 = 70.2-1E12
print(float_var2)

complex_var1 = 3.14j
print(complex_var1)

complex_var2 = 4.53e1-7j
print(complex_var2)

1
-10
15.2
-999999999929.8
3.14j
(45.3-7j)

79p 2)strings

In [5]:
str = 'Hello World!'
print(str)
print(str[0])
print(str[2:5])
print(str[2:])
print(str*2)
print(str+"TEST")

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

80p 3) lists

In [6]:
list = ['abcd', 786, 2.23, 'john', 70.2]
tinylist = [123, 'john']
print(list)
print(list[0])
print(list[1:3])
print(list[2:])
print(tinylist*2)
print(list + tinylist)

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

81p 4)tuples

In [7]:
tuple = ('abcd', 786, 2.23, 'john', 70.2)
tinytuple = (123, 'john')
print(tuple)
print(tuple[0])
print(tuple[1:3])
print(tuple[2:])
print(tinytuple * 2)
print(tuple + tinytuple)

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

81p 5) dictionary

In [8]:
dict = {}
dict['one'] = "This is one"
dict[2] = 'This is two'
tinydict={'name': 'john', 'code':6734, 'dept':'sales'}
print(dict['one'])
print(dict[2])
print(tinydict)
print(tinydict.keys())
print(tinydict.values())

This is one
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

# 함수와 모듈
83p

In [11]:
#함수 이름은 add이고 입력으로 2개의 값을 받으며 결과는 2개의 입력을 더한 값입니다
def add(a,b):
    return a+b
a = 3
b = 4
c = add(a,b)
print(c)

7

In [13]:
import mo1
print(mo1.add(3,4))
print(mo1.sub(4,2))
from mo1 import add
add(3,4)

7
2

7